---
Checks: >
        *,
        -abseil-*,
        -altera-*,
        -android-*,
        -cert-*,
        -clang-analyzer-*,
        -cppcoreguidelines-*,
        -fuchsia-*,
        -google-*,
        -hicpp-*,
        -linuxkernel-*,
        -llvm-*,
        -llvmlibc-*,
        -mpi-*,
        -objc-*,
        -openmp-*,
        -zircon-*,
        -boost-use-ranges,
        -bugprone-branch-clone,
        -bugprone-easily-swappable-parameters,
        -bugprone-narrowing-conversions,
        -bugprone-switch-missing-default-case,
        -concurrency-mt-unsafe,
        -misc-no-recursion,
        -misc-non-private-member-variables-in-classes,
        -misc-use-anonymous-namespace,
        -modernize-avoid-c-arrays,
        -modernize-loop-convert,
        -modernize-pass-by-value,
        -modernize-use-nodiscard,
        -modernize-use-trailing-return-type,
        -readability-avoid-nested-conditional-operator,
        -readability-braces-around-statements,
        -readability-function-cognitive-complexity,
        -readability-function-size,
        -readability-implicit-bool-conversion,
        -readability-identifier-length,
        -readability-isolate-declaration,
        -readability-magic-numbers,
        -readability-redundant-inline-specifier,
        -readability-use-concise-preprocessor-directives,
        -readability-uppercase-literal-suffix,
        -performance-avoid-endl,
        -performance-inefficient-string-concatenation,
        -performance-no-automatic-move,
        -performance-noexcept-move-constructor
HeaderFilterRegex: '.*'
WarningsAsErrors: '*'
CheckOptions:
  - key:             misc-const-correctness.WarnPointersAsValues
    value:           '1'
  - key:             misc-const-correctness.TransformPointersAsValues
    value:           '1'