# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
simplecpp
testrunner
/.runformat-uncrustify

# CLion
/.idea
/cmake-build-*

# python
__pycache__/

# Visual Studio (CI build)
/Debug
/simplecpp.dir
/simplecpp_obj.dir
/testrunner.dir
/x64
/*.vcxproj
/*.vcxproj.filters
/cmake_install.cmake
/CMakeCache.txt
/CTestTestfile.cmake
/simplecpp.sln