name: CI Unixish

on: [push, pull_request]

jobs:
  build:

    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
      fail-fast: false # not worthwhile...

    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v2

    - name: Install missing software on ubunte
      if: matrix.os == 'ubuntu-latest'
      run: |
          sudo apt-get update
          sudo apt-get install valgrind
          
    - name: make simplecpp
      run: make

    - name: make test
      run: make test

    - name: Install missing software on ubunte
      if: matrix.os == 'ubuntu-latest'
      run: |
          valgrind --leak-check=full --num-callers=50 --show-reachable=yes --track-origins=yes --gen-suppressions=all ./testrunner
    
