name: CI Unixish

on: [push, pull_request]

jobs:
  build:

    strategy:
      matrix:
        compiler: [clang++, g++]
        os: [ubuntu-16.04, ubuntu-18.04, ubuntu-20.04, macos-10.15]
      fail-fast: true

    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v2

    - name: Install missing software on ubuntu
      if: matrix.os == 'ubuntu-20.04'
      run: |
          sudo apt-get update
          sudo apt-get install valgrind
          
    - name: make simplecpp
      run: make -j$(nproc) CXX=${{ matrix.compiler }}

    - name: make test
      run: make -j$(nproc) test CXX=${{ matrix.compiler }}

    - name: ensure that simplecpp.cpp uses c++03
      run: CXX=${{ matrix.compiler }} ; $CXX -fsyntax-only -std=c++98 simplecpp.cpp

    - name: Run valgrind
      if: matrix.os == 'ubuntu-20.04'
      run: |
          valgrind --leak-check=full --num-callers=50 --show-reachable=yes --track-origins=yes --gen-suppressions=all --error-exitcode=42 ./testrunner
    
