# Some convenient links:
# - https://github.com/actions/virtual-environments/blob/master/images/win/Windows2019-Readme.md
#

name: CI-windows

on: [push,pull_request]

defaults:
  run:
    shell: cmd
    
jobs:

  build:
    strategy:
      matrix:
        # windows 2016 should default to VS 2017. Not supported by setup-msbuild
        os: [windows-2019]
      fail-fast: true

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v2

      - name: Setup msbuild.exe
        uses: microsoft/setup-msbuild@v1.0.0
        
      - name: Run cmake
        run: |
          cmake -G "Visual Studio 16" . -A x64
          dir
      - name: Build
        run: |
           msbuild -m simplecpp.sln /p:Configuration=Release /p:Platform=x64
        
