# Syntax reference https://help.github.com/en/actions/reference/workflow-syntax-for-github-actions
# Environment reference https://help.github.com/en/actions/reference/virtual-environments-for-github-hosted-runners
name: clang-tidy

on: [push, pull_request]

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false

      - name: Install missing software
        run: |
          sudo apt-get update
          sudo apt-get install -y cmake make

      - name: Install clang
        run: |
          wget https://apt.llvm.org/llvm.sh
          chmod +x llvm.sh
          sudo ./llvm.sh 20
          sudo apt-get install clang-tidy-20

      - name: Verify clang-tidy configuration
        run: |
          clang-tidy-20 --verify-config

      - name: Prepare CMake
        run: |
          cmake -S . -B cmake.output -G "Unix Makefiles" -DCMAKE_EXPORT_COMPILE_COMMANDS=ON
        env:
          CXX: clang-20

      - name: Clang-Tidy
        run: |
          run-clang-tidy-20 -q -j $(nproc) -p=cmake.output
